

      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>I'm a Seneca College student who is responsible and driven to earn an Advanced Diploma certificate of Computer Programming and Analysis. I am a hardworking, passionate, and enthusiastic individual who is determined to give my all and excel in all of my work projects. I am looking for a challenging position in a reputable organisation that will allow me to expand my learnings, knowledge, and communication skills. I enrolled in my course in January 2022, currently I am in my semester 3, and I hope to graduate by the end of 2024.</p></br>
          <h3>Why did I choose Computer Programming?</h3>
          <p>I chose computer proramming as my career because I want to prepare myself for an interesting, viable and potentially lucrative profession. This three-year program would enable me to develop skills and knowledge to begin my career as a software programmer/web developer. I have so far learned the fundamentals of database management systems, C, C++, unix/linux, the internet, and web development basics(javascript, html, css), among other things. Throughout this diploma, I hope to gain more expertise in a variety of areas, including project management, application development, client and server-side development, creating database systems, data structures and algorithms, etc.</p></br>
          <h4>My Educational Journey</h4>
          <p>I have been obsessed with computers and other smart devices like tablets and smartphones since I was ten years old. With 85%, I successfully passed the 10th grade of secondary school in India through the Central Board of Secondary Education. In addition, I earned an 84% grade point average in my High school (12th grade) under the same board in 2021. From 4th grade to 10th grade, I took computer subject in my school, where I worked with computers and learned the fundamentals of Microsoft Office applications like Word, Excel, and PowerPoint. Moreover, I studied the fundamentals of HTML in my ninth and tenth grades. My grades in labs were a clear indication of how much I enjoyed these courses. Technology and computers have been my passion, but sadly, after the tenth grade, I was not given the choice to choose computers as a secondary subject in the 11th and 12th grades. By the time I had finished my secondary education, I had already made up my mind that I would study computer science.</p></br>
          <h5>My hobbies and activities</h5>
          <p>I like travelling, playing video games, listening to music, and playing sports like tennis, table tennis, badminton, and swimming.</p></br>
          <h6>What to know as a web developer?</h6>
          <p>We need to understand HTML, CSS, and JavaScript to work as web developers. It's also advised to become familiar with CSS and CSS frameworks. These core abilities in web development will provide the structure and logic needed to communicate with computer languages. We can manage the user experience, the relevance of the material, and the conversion process with effective web development.</p></br>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>I'll be adding new content to both this website and my github account. Stay tuned for future updates.</p><br>
          <h3>My Portfolio</h3>
          <a href="https://priyanshparikh27.github.io/">Click here to view my Portfolio</a><br><br>
          <h4>My Github Profile</h4>
          <a href="https://github.com/PriyanshParikh27">Click here to see my Github account</a><br><br>
          <h5>My LinkedIn Profile</h5>
          <a href="https://www.linkedin.com/in/priyansh-parikh-8053b923a/">Click here to view my LinkedIn profile</a><br><br>
        </aside>
      </div>
    