.navbar-default {
    background-image: linear-gradient(to bottom,#010601,#5e5e5d);
    /* background-color: rgb(3, 23, 85); */
    border-color: rgb(4, 16, 110); 
    color: rgb(35, 34, 34);
}
body {
    font-family: system-ui;
    font-size: 20px;
    font-weight: bold;
    background: rgba(0, 0, 11, 0.878);
    color: rgb(38, 40, 42);
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right,#3E5151,#DECBA4,#353535);
}

h2, .h2 {
    font-size: 44px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    color:rgb(132, 255, 0);
}

h3, .h3 {
    font-size: 26px;
    font-weight: bold;
    font-family: "Cambria Math", Georgia, serif;
    color: #000000
}

h4, .h4 {
    font-size: 26px;
    font-weight: bold;
    font-family: "Cambria Math", Georgia, serif;
    color:#000000
}

h5, .h5 {
    font-size: 26px;
    font-weight: bold;
    font-family: "Cambria Math", Georgia, serif;
    color:#000000
}

h6, .h6 {
    font-size: 26px;
    font-weight: bold;
    font-family: "Cambria Math", Georgia, serif;
    color:#000000
}

.navbar-brand {
    float: left;
    height: 60px;
    padding: 19.5px 15px;
    font-size: 25px;
    line-height: 21px;
}
.navbar-default .navbar-brand {
    color: #d0d0d0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #d0d0d0;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    /* background-color: #2a7b23; */
    background-image: linear-gradient(to bottom right,#158c1b,#b8a921); 
} 
.navbar-default .navbar-nav>li>a {
    color: #f4f4fb;
    font-size: 24px;
    font-family: "Arial", Arial, Helvetica, sans-serif
}
a {
    color: #ff5f5f;
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a {
    color: #f4f4fb;
}
a {
    background-color: transparent;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 21px;
    font-size: 22.5px;
    line-height: inherit;
    color: #05f7ff;
    border: 0;
    border-bottom: 1px solid transparent;
}
a {
    color: #1ffee7;
    text-decoration: none;
    font-weight: bold;
}
table a, .table a {
    text-decoration: underline;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-color: #000000;
    /*background-image: linear-gradient(rgb(176, 176, 176), rgb(11, 11, 10));*/
    border: 1px solid transparent;
    padding: 10px 15px;
    font-size: 18px; 
    line-height: 1.42857143;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}